
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";color: #606060;}
input,a{outline:none;}

.top{
    width: 1000px;
    border-bottom: 2px solid green;
    margin: 0 auto;
    padding-top: 50px;
}

.cart_top{
    width: 1000px;
    height: 70px;
    margin: 200px auto 0;
    overflow: hidden;
    .top_l{
        display: block;
        height: 70px;
        padding-top: 20px;
        float: left;
    }
    .top_r{
        height: 70px;
        float: right;
        padding: 20px 0 0 0;
        p{
            font-size: 12px;
            float: left;
        }
        span{
            display: block;
            color: #DD0800;
            float: left;
        }
        .cart_anniu{
            width: 50px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: #fff;
            float: right;
            font-size: 14px;
            background: #DD0800;
            cursor: pointer;
        }
    }
}
.cart_content{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    .cart_li{
        height: 19px;
        padding: 5px 0 6px 0;
        .odct_title{
            float: left;
            height: 19px;
            text-align: center;
            line-height: 19px;
            color: #3c3c3c;
            font-size: 12px;
        }
        .tit_1{
            width: 490px;
        }
        .tit_2{
            width: 90px;
        }
        .tit_3{
            width: 130px;
        }
        .tit_4{
            width: 90px;
        }
        .tit_5{
            width: 90px;
        }
        .tit_6{
            width: 106px;
        }
    }
    .cart_b{
        width: 1000px;
        border: 1px solid #E7E7E7;
        overflow: hidden;
        .b_1{
            width: 998px;
            height: 38px;
            .qx{
                display: block;
                padding: 10px 0 10px 20px;
                font-size: 12px;
            }
        }
        .kkk{
            .ccc{
                height: 100px;
                .cart_img{
                    width: 472px;
                    padding: 15px 0 0 20px;
                    float: left;
                    line-height: 1.8em;
                    #gouxuan{
                        float: left;
                        margin: 20px 5px 0 0;
                    }
                    .pic_1{
                        display: block;
                        width: 62px;
                        height: 62px;
                        margin: 0 15px 0 10px;
                        float: left;
                        img{
                            width: 62px;
                            height: 62px;
                        }
                    }
                    .wz{
                        width: 330px;
                        text-align: left;
                        float: left;
                        font-size: 12px;
                        a{
                            display: block;
                            width: 192px;
                            line-height: 21px;
                            color: #595757;
                            text-align: center;
                            overflow: hidden;
                        }
                    }
                }
                .cart_dj{
                    width: 90px;
                    padding-top: 32px;
                    float: left;
                    text-align: center;
                    color: #3c3c3c;
                }
                .cart_js{
                    width: 110px;
                    line-height: 1.8em;
                    padding: 32px 0 0 20px;
                    float: left;
                    text-align: center;
                    color: #3c3c3c;
                    position: relative;
                    .reduce_g{
                        width: 21px;
                        height: 21px;
                        margin-top: 1px;
                        cursor: pointer;
                        float: left;
                        line-height: 21px;
                        background: #e6e6e6;
                        border-radius: 50%;
                    }
                    .input_goods{
                        width: 36px;
                        float: left;
                        display: inline;
                        position: relative;
                        margin-top: -3px;
                        #wbsz{
                            width: 34px;
                            height: 17px;
                            line-height: 21px;
                            border: #e6e6e6 1px solid;
                            color: #595757;
                            text-align: center;
                        }
                    }
                    .puls_g{
                        width: 21px;
                        height: 21px;
                        cursor: pointer;
                        float: left;
                        line-height: 21px;
                        background: #e6e6e6;
                        border-radius: 50%;
                    }
                }
                .cart_we{
                    width: 90px;
                    padding: 32px 0 0;
                    color: #999;
                    text-align: center;
                    float: left;
                }
                .cart_zj{
                    width: 90px;
                    padding-top: 32px;
                    text-align: center;
                    float: left;
                    color: #3c3c3c;
                    font-size: 14px;
                }
                .cart_sc{
                    width: 50px;
                    padding-top: 32px;
                    float: left;
                    padding-left: 36px;
                    cursor: pointer;
                }
            }
        }
    }
}




