body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";color: #606060;}
input,a{outline:none;}


#site_nav{
    height: 32px;
    background: #f5f5f5;
    font-size: 12px;
    color: #606060;
    .nav_w{
        width: 1210px;
        margin: 0 auto;
        line-height: 32px;
        ul{
            float: left;
        }
        .nav_left{
            li{
                position: relative;
                background: url(../img/index.png) no-repeat -101px 0;
                padding-left: 15px;
                margin-right: 20px;
                p{
                    a{
                        color: #606060;
                        .down_x{
                            display: inline-block;
                            //height: 30px;
                            line-height: 32px;
                            &:hover{color: #8cb91e;}
                            padding: 0 20px 0 14px;
                            i{
                                display: inline-block;
                                width: 6px;
                                height: 3px;
                                background: url(../img/index.png) no-repeat -92px 0;
                                margin: 15px 0 0 3px;
                                
                            }
                        }
                    }
                }
            }
        }
        .nav_centre{
            li{
                float: left;
            }
            .nav_enter{
                margin: 0 20px 0 10px;
                a{
                    &:hover{color: #8cb91e;}
                }
                
            }
            .nav_login{
                a{
                    &:hover{color: #8cb91e;}
                }
                
            }
        }
        .nav_right{
            float: right;
            .nav_right_zh{
                float: left;
                position: relative;
                &:hover{
                    border: 1px solid #8cb91e;
                    background: white;
                    border-bottom: none;
                    z-index: 999;
                }
                a{
                    color: #606060;
                    span{
                        margin-right: 22px;
                        &:hover{border-bottom: none;}
                        i{
                            display: inline-block;
                            width: 6px;
                            height: 3px;
                            background: url(../img/index.png) no-repeat -92px 0;
                            margin: 15px 0 0 3px;
                            
                        }
                    }
                }
                .nav_right_down{
                    width: 194px;
                    position: absolute;
                    left: 0;
                    top:30px;
                    border: 1px solid #3a9900;
                    z-index: 1;
                    padding: 5px;
                    background: white;
                    display: none;
                    &:hover{color: #8cb91e;}
                    p{
                        color: #999;
                        padding-left: 7px;
                        span{
                            display: block;
                            float: left;
                        }
                        a{
                            display: block;
                            float: left;
                            margin-left: 7px;
                            color: #8cb91e;
                            &:hover{text-decoration: underline;}
                        }
                    }
                    ul{
                        li{
                            float: left;
                            width: 92px;
                            a{
                                height: 25px;
                                line-height: 25px;
                                &:hover{background: gainsboro;}
                            }
                        }
                    }
                }
            }
            .nav_right_gwc{
                float: left;
                i{
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    background: url(../img/index.png) no-repeat -78px 0;
                }
                a{
                    color: #606060;
                    &:hover{text-decoration: underline;color: #8cb91e;}
                    b{
                        color: #8cb91e;
                    }
                }
            }
            .nav_right_serve{
                float: left;
                margin-left:16px;
                position: relative;
                &:hover{
                    background: white;
                    border: 1px solid #8cb91e;
                    border-bottom: none;
                    }
                a{
                    color: #606060;
                    i{
                        display: inline-block;
                        width: 6px;
                        height: 3px;
                        background: url(../img/index.png) no-repeat -92px 0;
                        margin: 15px 0 0 3px;
                    }
                }
                .serve_down{
                    position: absolute;
                    left: -1px;
                    top: 30px;
                    width: 60px;
                    border: 1px solid #3a9900;
                    background: white;
                    display: none;
                    border-top: none;
                    li{
                       
                        a{
                            height: 25px;
                            line-height: 25px;
                            &:hover{background: gainsboro;}
                        }
                    }
                }
            }
            .nav_right_end{
                float: left;
                margin-left: 12px;
            }
            .sx{
                float: left;
                margin-left: 13px;
                color: #cecece;
            }
            .yh_yd{
                float: left;
                .yh{
                    display: block;
                    float: left;
                    span{
                        display: block;
                        
                        width: 43px;
                        height: 15px;
                        background: url(../img/base.png) no-repeat 0 0;
                        margin: 8px 0 0 12px;
                    }
                }
                .yd{
                    display: block;
                    float: left;
                    span{
                        display: block;
                        
                        width: 43px;
                        height: 15px;
                        background: url(../img/base.png) no-repeat -93px -82px;
                        margin: 8px 0 0 12px;
                    }
                }
            }
        }
    }
    
}


// header


#header{
    width: 100%;
    height: 80px;
    margin: 0 auto 38px;
    padding-bottom: 20px ;
    background: #E7E7E7;
    border-bottom: 2px solid green;
    .logo_x{
        width: 1214px;
        height: 80px;
        margin: 0 auto;
        .logo{
            float: left;
        }
        .logo_ada{
            float: left;
        }
        
        // 搜索框
        .searchform{
            .searchwrap{
                width: 625px;
                height: 68px;
                float: left;
                margin: 12px 0 0 22px;
                position: relative;
                .search_s{
                    width: 584px;
                    height: 38px;
                    border: 2px solid #c30000;
                    float: left;
                    .search_left{
                        float: left;
                        position: relative;
                        span{
                            display: block;
                            float: left;
                            width: 16px;
                            height: 16px;
                            background: url(../img/index.png) no-repeat -69px -24px;
                            position: absolute;
                            left: 10px;
                            top: 11px;
                        }
                        input{
                            width: 450px;
                            height: 36px;
                            margin-left: 32px;
                            border: none;
                            font-size: 14px;
                        }
                    }
                    .search_right{
                        float: right;
                        button{
                            width: 100px;
                            height: 38px;
                            color: #fff;
                            background: #c30000;
                            border: none;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
                .search_r{
                    float: right;
                    line-height: 14px;
                    a{
                        font-size: 12px;
                        &:hover{
                            color: #8cb91e;
                            text-decoration: underline;
                        }
                    }
                }
                .search_b{
                    width: 625px;
                    height: 18px;
                    padding-top: 8px;
                    clear: both;
                    a{
                        font-size: 11px;
                        margin-right: 18px;
                        &:hover{
                            color: #8cb91e;
                            text-decoration: underline;
                        }
                    }
                }
                .search_xl{
                    width: 481px;
                    position: absolute;
                    left: 0;
                    top: 41px;
                    background: #fff;
                    border: 1px solid #333333;
                }
            }
        }
        .app{
            float: right;
        }
    }
}


// 侧边栏

.wm_toolbar{
    width: 310px;
    color: #fff;
    position: fixed;
    right: -276px;
    top: 0;
    z-index: 999999;
    height: 100%;
    .toolbar_left{
        width: 34px;
        height: 100%;
        background: #000;
        float: left;
        position: relative;
        .wm_toolbar_top{
            width: 34px;
            height: 216px;
            font-size: 12px;
            position: absolute;
            left: 0;
            top: 103.75px;
            .wm_toolbar_tab{
                width: 18px;
                height: 88px;
                padding: 10px 8px;
                text-align: center;
                cursor: pointer;
                overflow: hidden;
                color: #fff;
                background: #3da700;
                em{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(../img/cart.jpg) no-repeat -178px -42px;
                }
                .num{
                    display: inline-block;
                    height: 16px;
                    line-height: 16px;
                    margin: 8px auto 0;
                    padding: 0 3px;
                    border-radius: 3px;
                    color: #fff;
                    background: #000;
                }
            }
        }
        .wm_toolbar_footer{
            position: absolute;
            left: 0;
            bottom: 0;
            ul{
                width: 34px;
                height: 194px;
                li{
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    margin-top: 6px;
                    cursor: pointer;
                    position: relative;
                    &:hover span{
                        display: block;
                    }
                    span{
                        width: 58px;
                        height: 34px;
                        line-height: 34px;
                        background: #3da700;
                        padding-left: 12px;
                        overflow: hidden;
                        display: none;
                        position: absolute;
                        right: 34px;
                        top: 0;
                        font-size: 14px;
                        color: #fff;
                    }
                    .collect{
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        cursor: pointer;
                        overflow: hidden;
                        background: url(../img/cart.jpg) no-repeat;
                    }
                    .pic1{
                        background-position: 0 0;
                    }
                    .pic2{
                        background-position: -34px 0;
                    }
                    .pic3{
                        background-position: -68px 0;
                    }
                    .pic4{
                        background-position: -102px 0;
                    }
                    .pic5{
                        background-position: -136px 0;
                    }
                    .erw{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: -67px;
                        a{
                            img{
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
    .pop_up{
        width: 276px;
        height: 100%;
        background: #e6e6e6;
        position: absolute;
        left: 34px;
        overflow: hidden;
        .pop_layer{
            .pop_title{
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: #383838;
                text-align: center;
                position: relative;
                em{
                    display: block;
                    width: 12px;
                    height: 12px;
                    background: url(../img/cart.jpg) no-repeat -238px 0;
                    position: absolute;
                    right: 18px;
                    top: 14px;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
            .scroll_box{
                height: 352px;
                .wm_accounts{
                    width: 240px;
                    height: 72px;
                    position: absolute;
                    left: 18px;
                    bottom: 0;
                    .chosen{
                        height: 32px;
                        color: #5b5b5b;
                        background: #e6e6e6;
                        overflow: hidden;
                        .fl{
                            height: 32px;
                            line-height: 32px;
                            float: left;
                        }
                        .fr{
                            height: 32px;
                            line-height: 32px;
                            float: right;
                            color: #dd0800;
                        }
                    }
                    .wm_btn_buy{
                        height: 40px;
                        line-height: 40px;
                        font-size: 16px;
                        text-align: center;
                        background: #dd0800;
                        color: #fff;
                        cursor: pointer;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

//  content

#ck_wrap{
    width: 1210px;
    height: 600px;
    margin: 0 auto;
    .box{
        width: 400px;
        height: 600px;
        float: left;
        position: relative;
        .ck_pic{
            width: 400px;
            height: 400px;
            position: absolute;
            img{
                width: 400px;
                height: 400px;
            }
            .zoom{
                width: 100px;
                height: 100px;
                background: greenyellow;
                opacity: .5;
                position: absolute;
                left: 0;
                top: 0;
                display: none;
            }
        }
        .ck_pic_big{
            width: 400px;
            height: 400px;
            margin-left: 10px;
            z-index: 9999999;
            overflow: hidden;
            position: absolute;
            right: -410px;
            top: 0;
            display: none;
            img{
                width: 800px;
                height: 800px;
            }
        }
    }
    .pic_content{
        width: 600px;
        height: 400px;
        float: right;
        margin-left: 20px;
        b{
            display: block;
            width: 600px;
            margin: 10px 0 0 20px;
        }
        .price_a{
            display: block;
            width: 200px;
            height: 100px;
            color: red;
            font-size: 30px;
            font-weight: bolder;
            margin-left: 20px;
            margin-top: 50px;
            line-height: 100px;
        }
        .js{
            width: 124px;
            height: 25px;
            margin: 22px 0 0 20px;
            span{
                display: block;
                width: 26px;
                height: 25px;
                background: #e6e6e6;
                float: left;
                text-align: center;
                line-height: 25px;                        
                cursor: pointer;
                color: #6a917b;
            }
            #txt{
                width: 68px;
                height: 23px;
                background: #e6e6e6;
                margin: 0 2px;
                float: left;
                border: 0;
                text-align: center;
                color: #6a917b;
            }
        }
        .add_shop{
            width: 150px;
            height: 50px;
            line-height: 50px;
            background: brown;
            text-align: center;
            color: #fff;
            margin: 50px 0 0 20px;
        }
    }
}
