body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";color: #606060;}
input,a{outline:none;}


// header_top

#header_top{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 12px;
    background: url(../img/hbg.png) repeat-x;
    position: fixed;
    z-index: 1000000;
    top: 0;
    display: none;
    .width{
        width: 1210px;
        margin: 0 auto;
        .logo{
            width: 220px;
            float: left;
        }
        .seachfix{
            from{
                .search_wrap{
                    width: 625px;
                    margin: 12px 0 0 48px;
                    margin-top: 18px;
                    margin-left: 158px;
                    float: left;
                    .scearch_c{
                        width: 584px;
                        height: 38px;
                        border: 2px solid #c30000;
                        float: left;
                        position: relative;
                        .from{
                            position: relative;
                            &::before{
                                display: block;
                                width: 16px;
                                height: 16px;
                                background: url(../img/index.png) no-repeat -69px -24px;
                                position: absolute;
                                left: 10px;
                                top: 11px;
                                
                            }
                            #topKeywords{
                                width: 450px;
                                height: 36px;
                                padding-left: 32px;
                                color: rgb(195, 0, 0);
                                border: 0;
                            }
                            .ac_results{
                                width: 481px;
                                position: absolute;
                                left: 0;
                                top: 41px;
                                background: #fff;
                                border: 1px solid #333333;
                            }
                        }
                        .btn{
                            width: 100px;
                            height: 38px;
                            float: right;
                            button{
                                width: 100px;
                                height: 38px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                border: 0;
                                background: #c30000;
                                font-size: 18px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


// 侧边栏

.wm_toolbar{
    width: 310px;
    height: 100%;
    color: #fff;
    position: fixed;
    right: -276px;
    top: 0;
    z-index: 9999999;
    .toolbar_left{
        width: 34px;
        
        background: #000;
        float: left;
        position: relative;
        left: 0;
        .wm_toolbar_top{
            width: 34px;
            height: 216px;
            font-size: 12px;
            position: absolute;
            left: 0;
            top: 103.75px;
            .wm_toolbar_tab{
                width: 18px;
                height: 88px;
                padding: 10px 8px;
                text-align: center;
                cursor: pointer;
                overflow: hidden;
                em{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(../img/cart.jpg) no-repeat -178px -42px;
                }
                .num{
                    display: inline-block;
                    height: 16px;
                    line-height: 16px;
                    margin: 8px auto 0;
                    padding: 0 3px;
                    border-radius: 3px;
                    color: #fff;
                }
            }
        }
        .wm_toolbar_footer{
            position: absolute;
            left: 0;
            bottom: 0;
            ul{
                li{
                    width: 34p;
                    height: 34px;
                    line-height: 34px;
                    margin-top: 6px;
                    cursor: pointer;
                    position: absolute;
                    span{
                        width: 58px;
                        height: 34px;
                        line-height: 34px;
                        background: #3da700;
                        padding-left: 12px;
                        overflow: hidden;
                        display: none;
                        position: absolute;
                        right: 34px;
                    }
                    .collect{
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        cursor: pointer;
                        overflow: hidden;
                        background: url(../img/cart.jpg) no-repeat 0 0;
                    }
                }
            }
        }
    }
}





















// add_nav


#add_top{
    height: 100px;
    a{
        display: block;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100px;
        }
    }
}


// site_nav


#site_nav{
    height: 32px;
    background: #f5f5f5;
    font-size: 12px;
    color: #606060;
    .nav_w{
        width: 1210px;
        margin: 0 auto;
        line-height: 32px;
        ul{
            float: left;
        }
        .nav_left{
            li{
                position: relative;
                background: url(../img/index.png) no-repeat -101px 0;
                padding-left: 15px;
                margin-right: 20px;
                p{
                    a{
                        color: #606060;
                        .down_x{
                            display: inline-block;
                            //height: 30px;
                            line-height: 32px;
                            &:hover{color: #8cb91e;}
                            padding: 0 20px 0 14px;
                            i{
                                display: inline-block;
                                width: 6px;
                                height: 3px;
                                background: url(../img/index.png) no-repeat -92px 0;
                                margin: 15px 0 0 3px;
                                
                            }
                        }
                    }
                }
            }
        }
        .nav_centre{
            li{
                float: left;
            }
            .nav_enter{
                margin: 0 20px 0 10px;
                a{
                    &:hover{color: #8cb91e;}
                }
                
            }
            .nav_login{
                a{
                    &:hover{color: #8cb91e;}
                }
                
            }
        }
        .nav_right{
            float: right;
            .nav_right_zh{
                float: left;
                position: relative;
                &:hover{
                    border: 1px solid #8cb91e;
                    background: white;
                    border-bottom: none;
                    z-index: 999;
                }
                a{
                    color: #606060;
                    span{
                        margin-right: 22px;
                        &:hover{border-bottom: none;}
                        i{
                            display: inline-block;
                            width: 6px;
                            height: 3px;
                            background: url(../img/index.png) no-repeat -92px 0;
                            margin: 15px 0 0 3px;
                            
                        }
                    }
                }
                .nav_right_down{
                    width: 194px;
                    position: absolute;
                    left: 0;
                    top:30px;
                    border: 1px solid #3a9900;
                    z-index: 1;
                    padding: 5px;
                    background: white;
                    display: none;
                    &:hover{color: #8cb91e;}
                    p{
                        color: #999;
                        padding-left: 7px;
                        span{
                            display: block;
                            float: left;
                        }
                        a{
                            display: block;
                            float: left;
                            margin-left: 7px;
                            color: #8cb91e;
                            &:hover{text-decoration: underline;}
                        }
                    }
                    ul{
                        li{
                            float: left;
                            width: 92px;
                            a{
                                height: 25px;
                                line-height: 25px;
                                &:hover{background: gainsboro;}
                            }
                        }
                    }
                }
            }
            .nav_right_gwc{
                float: left;
                i{
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    background: url(../img/index.png) no-repeat -78px 0;
                }
                a{
                    color: #606060;
                    &:hover{text-decoration: underline;color: #8cb91e;}
                    b{
                        color: #8cb91e;
                    }
                }
            }
            .nav_right_serve{
                float: left;
                margin-left:16px;
                position: relative;
                &:hover{
                    background: white;
                    border: 1px solid #8cb91e;
                    border-bottom: none;
                    }
                a{
                    color: #606060;
                    i{
                        display: inline-block;
                        width: 6px;
                        height: 3px;
                        background: url(../img/index.png) no-repeat -92px 0;
                        margin: 15px 0 0 3px;
                    }
                }
                .serve_down{
                    position: absolute;
                    left: -1px;
                    top: 30px;
                    width: 60px;
                    border: 1px solid #3a9900;
                    background: white;
                    display: none;
                    border-top: none;
                    li{
                       
                        a{
                            height: 25px;
                            line-height: 25px;
                            &:hover{background: gainsboro;}
                        }
                    }
                }
            }
            .nav_right_end{
                float: left;
                margin-left: 12px;
            }
            .sx{
                float: left;
                margin-left: 13px;
                color: #cecece;
            }
            .yh_yd{
                float: left;
                .yh{
                    display: block;
                    float: left;
                    span{
                        display: block;
                        
                        width: 43px;
                        height: 15px;
                        background: url(../img/base.png) no-repeat 0 0;
                        margin: 8px 0 0 12px;
                    }
                }
                .yd{
                    display: block;
                    float: left;
                    span{
                        display: block;
                        
                        width: 43px;
                        height: 15px;
                        background: url(../img/base.png) no-repeat -93px -82px;
                        margin: 8px 0 0 12px;
                    }
                }
            }
        }
    }
    
}


// header


#header{
    width: 100%;
    height: 80px;
    margin: 35px auto 38px;
    .logo_x{
        width: 1214px;
        height: 80px;
        margin: 0 auto;
        .logo{
            float: left;
        }
        .logo_ada{
            float: left;
        }
        
        // 搜索框
        .searchform{
            .searchwrap{
                width: 625px;
                height: 68px;
                float: left;
                margin: 12px 0 0 22px;
                position: relative;
                .search_s{
                    width: 584px;
                    height: 38px;
                    border: 2px solid #c30000;
                    float: left;
                    .search_left{
                        float: left;
                        position: relative;
                        span{
                            display: block;
                            float: left;
                            width: 16px;
                            height: 16px;
                            background: url(../img/index.png) no-repeat -69px -24px;
                            position: absolute;
                            left: 10px;
                            top: 11px;
                        }
                        input{
                            width: 450px;
                            height: 36px;
                            margin-left: 32px;
                            border: none;
                            font-size: 14px;
                        }
                    }
                    .search_right{
                        float: right;
                        button{
                            width: 100px;
                            height: 38px;
                            color: #fff;
                            background: #c30000;
                            border: none;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
                .search_r{
                    float: right;
                    line-height: 14px;
                    a{
                        font-size: 12px;
                        &:hover{
                            color: #8cb91e;
                            text-decoration: underline;
                        }
                    }
                }
                .search_b{
                    width: 625px;
                    height: 18px;
                    padding-top: 8px;
                    clear: both;
                    a{
                        font-size: 11px;
                        margin-right: 18px;
                        &:hover{
                            color: #8cb91e;
                            text-decoration: underline;
                        }
                    }
                }
                .search_xl{
                    width: 481px;
                    position: absolute;
                    left: 0;
                    top: 41px;
                    background: #fff;
                    border: 1px solid #333333;
                }
            }
        }
        .app{
            float: right;
        }
    }
}


// main_nav


#main_nav_top{
    width: 100%;
    height: 48px;
    position: relative;
    .all_goods{
        width: 210px;
        height: 496px;
        position: absolute;
        left: 95px;
        top: 2px;
        float: left;
        z-index: 1000;
        h2{
            width: 210px;
            height: 46px;
            line-height: 46px;
            background: #2d8800;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
        .lists{
            width: 210px;
            height: 410px;
            background: #3ea600;
            padding: 12px 0 28px 0;
            position: relative;
            .kinds{
                width: 100%;
                height: 39px;
                float: left;
                h3{
                    width: 172px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    padding: 0 19px 0 19px;
                    overflow: hidden;
                    b{
                        width: 18px;
                        height: 18px;
                        float: left;
                        margin: 6px 16px 0 0;
                        background: url(../img/151.png) no-repeat 0 0;
                    }
                    a{
                        margin-right: 2px;
                        color: #fff;
                    }
                }
                .sub_kinds{
                    width: 757px;
                    height: 419px;
                    padding: 30px 15px 0 15px;
                    border-right: 1px solid #3a9900;
                    border-bottom: 1px solid #3a9900;
                    background: #fff;
                    position: absolute;
                    left: 210px;
                    top: 0;
                    overflow: hidden;
                    display: none;
                }
                .spb{
                    background: url(../img/151.png) no-repeat -18px 0;
                    background-color: #fff;
                    a{
                        color: green;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .nav_top{
        width: 760px;
        height: 46px;
        margin-left: 305px;
        float: left;
        li{
            height: 46px;
            line-height: 46px;
            padding-left: 22px;
            float: left;
            a{
                &:hover{
                    color: #3ea600;
                }
            }
        }
    }
    .left_car{
        width: 200px;
        height: 43px;
        float: right;
        margin-top: 4px;
        margin-right: 124px;
        padding: 9px 10px 16px;
        line-height: 22px;
        text-align: center;
        color: #098A00;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        &:hover{
            background: #fff;
            border: 1px solid #3a9901;
            border-bottom: none;
        }
        .shoop_car{
            display: inline-block;
            width: 27px;
            height: 20px;
            background: url(../img/index.png) no-repeat -47px 0;
            position: absolute;
            left: 18px;
            top: 13px;
            .num_car{
                display: block;
                width: 25px;
                height: 20px;
                background: url(../img/index.png) no-repeat -10px -40px;
                position: absolute;
                left: 9px;
                top: -18px;
                text-align: center;
                line-height: 20px;
                color: #fff;
                font-size: 9px;
                font-style: normal;
            }
        }
        .shoop_text{
            display: inline-block;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #383838;
            a{
                &:hover{
                    color: #3ea600;
                    text-decoration: underline;
                }
            }
        }
        .shoop_jt{
            display: inline-block;
            width: 10px;
            height: 6px;
            float: right;
            background: url(../img/index.png) no-repeat 0 -40px;
            margin-top: 10px;
        }
    }
}


// banner


#banner{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border-top: 2px solid #318700;
    position: relative;
    .banner_img{
        width: 100%;
        li{
            width: 100%;
            height: 450px;
            float: left;
            background: url(../img/banner_bg.png) no-repeat center top;
            position: absolute;
            display: none;
            a{
                display: block;
                width: 800px;
                height: 450px;
                position: absolute;
                left: 305px;
                top: 0;
                
                img{
                    width: 800px;
                    height: 450px;
                }
            }
        }
        
    }
    .banner_anniu{
        width: 800px;
        height: 62px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -31px;
        margin-left: -407px;
        display: none;
        span{
            display: block;
            width: 28px;
            height: 62px;
            line-height: 62px;
            color: #fff;
            text-align: center;
            font-size: 22px;
            font-family: simsun;
            font-weight: 400;
            background: url(../img/btn.png) no-repeat;
            cursor: pointer;
        }
        .anniu1{
            float: left;
        }
        .anniu2{
            float: right;
        }
    }
    .banner_hover{
        width: 273px;
        height: 15px;
        position: absolute;
        left: 50%;
        top: 412px;
        margin-left: -136px;
        li{
            float: left;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background: #fff;
            margin-left: 19px;
        }
        .hover{
            background: #3ea600;
        }
    }
}

//  cont_r

.cont_r{
    width: 211px;
    height: 450px;
    margin-top: 5px;
    background: #fff;
    position: absolute;
    right: 107px;
    top: 330px;
    .cont_tit{
        width: 202px;
        position: absolute;
        overflow: hidden;
        li{
            width: 67px;
            height: 29px;
            line-height: 29px;
            text-align: center;
            float: left;
            font-size: 12px;
            background: #F7F7F7;
            a{
                color: #3c3c3c;
            }
        }
        .tab{
            border-bottom: 2px solid #2d8800;
            a{
                color: #0D8700;
            }
        }
        
    }
    .cont_wrap{
        height: 75px;
        padding: 35px 16px 6px;
        .cont{
            height: 50px;
            padding: 7px 0;
            overflow: hidden;
            position: relative;
            display: none;
            ul{
                position: absolute;
                left: 0;
                top: 0;
                .infor{
                    height: 21px;
                    line-height: 21px;
                    overflow: hidden;
                    font-size: 12px;
                    margin-left: 16px;
                    a{
                        &:hover{
                            color: #0D8700;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .min_lead{
        .lead_btn_wrap{
            width: 201px;
            border-top: 1px solid #ddd;
            overflow: hidden;
            .lead_btn{
                float: left;
                width: 66px;
                height: 60px;
                border-bottom: 1px dotted #ddd;
                border-right: 1px dotted #ddd;
                overflow: hidden;
                text-align: center;
            }
        }
    }
    .add_b{
        width: 200px;
        height: 148px;
        
    }
}


//  main

#main_wrap{
    width: 100%;
    overflow: hidden;
    .main_1{
        width: 1210px;
        margin: 0 auto;
        margin-top: 3px;
        .main_1_tit{
            height: 46px;
            span{
                display: block;
                float: left;
                padding: 12px;
            }
            i{
                display: block;
                width: 218px;
                height: 18px;
                float: left;
                margin-top: 3px;
                padding: 12px;
            }
        }
        .main_1_content{
            width: 100%;
            height: 352px;
            border-top: 2px solid #4bae00;
            .xgt{
                width: 242px;
                height: 320px;
                position: relative;
                float: left;
                .aImg{
                    width: 242px;
                    height: 400px;
                    position: absolute;
                    left: -242px;
                }
            }
            .main_1_lb{
                width: 972px;
                height: 320px;
                float: right;
                position: relative;
                margin-right: -5px;
                overflow: hidden;
                .lb_1{
                    width: 1944px;
                    height: 320px;
                    position: absolute;
                    left: 0;
                    overflow: hidden;
                    li{
                        width: 238px;
                        height: 320px;
                        float: left;
                        border-right: 5px solid #ededed;
                        overflow: hidden;
                        a{
                            img{
                                width: 180px;
                                height: 180;
                                margin: 20px 0 0 29px;
                                transition: all 1s;
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
                        .inforBox{
                            width: 203px;
                            height: 80px;
                            background: #f1f7f4;
                            padding: 10px 17px 10px 18px;
                            margin-top: 20px;
                            overflow: hidden;
                            p{
                                width: 100%;
                                height: 23px;
                                line-height: 23px;
                                font-size: 14px;
                                overflow: hidden;
                                a{
                                    &:hover{
                                        color: #4bae00;
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .txtBt{
                                a{
                                    color: #383838;
                                    font-size: 16px;
                                }
                            }
                            .buy_btn{
                                width: 100%;
                                height: 30px;
                                padding-top: 4px;
                                overflow: hidden;
                                .buy_price{
                                    line-height: 30px;
                                    font-size: 20px;
                                    color: #de0801;
                                    float: left;
                                    .bold{
                                        margin-left: -7px;
                                    }
                                }
                            }
                            .kk{
                                display: block;
                                width: 80px;
                                height: 26px;
                                line-height: 26px;
                                margin-top: 2px;
                                font-size: 14px;
                                text-align: center;
                                float: left;
                                color: #fff;
                                overflow: hidden;
                                background: url(../img/buyBtn.jpg) no-repeat;
                                margin-left: 70px;
                            }
                        }
                    }
                }
                .left_btn{
                    width: 32px;
                    height: 38px;
                    z-index: 20;
                    opacity: 0.8;
                    position: absolute;
                    left: 0;
                    top: 91px;
                    background: url(../img/lr.png) no-repeat;
                    display: none;
                    cursor: pointer;
                }
                .right_btn{
                    width: 32px;
                    height: 38px;
                    z-index: 20;
                    opacity: 0.8;
                    position: absolute;
                    right: 5px;
                    top: 91px;
                    background: url(../img/lr.png) no-repeat -32px 0;
                    display: none;
                    cursor: pointer;
                }
            }
        }
    }
    
    
    // main_2
    
    .main_2{
        width: 1210px;
        margin: 0 auto;
        margin-top: 3px;
        overflow: hidden;
        .main_2_tit{
            height: 46px;
            span{
                display: block;
                float: left;
                padding: 12px;
            }
            i{
                display: block;
                width: 218px;
                height: 18px;
                float: left;
                margin-top: 3px;
                padding: 12px;
            }
        }
        .main_2_content{
            width: 100%;
            height: 320px;
            border-top: 2px solid #4bae00;
            position: relative;
            .lb_2{
                width: 2420px;
                height: 320px;
                position: absolute;
                left: 0;
                overflow: hidden;
                li{
                    float: left;
                    width: 242px;
                    height: 320px;
                    overflow: hidden;
                    position: relative;
                    
                    a{
                        img{
                            display: block;
                            width: 252px;
                            height: 320px;
                            background: url(../img/wait.gif) no-repeat scroll 50% 50% transparent;
                            transition: all 1s;
                    &:hover{
                        transform: translateX(-10px);
                    }
                        }
                    }
                }
                .big_pic{
                    width: 484px;
                    height: 320px;
                    position: relative;
                    a{
                        img{
                            width: 494px;
                            height: 320px;
                            position: relative;
                        }
                    }
                }
            }
            .left2_btn{
                    width: 32px;
                    height: 38px;
                    z-index: 20;
                    opacity: 0.8;
                    position: absolute;
                    left: 0;
                    top: 141px;
                    background: url(../img/lr.png) no-repeat;
                    display: none;
                    cursor: pointer;
                }
                .right2_btn{
                    width: 32px;
                    height: 38px;
                    z-index: 20;
                    opacity: 0.8;
                    position: absolute;
                    right: 5px;
                    top: 141px;
                    background: url(../img/lr.png) no-repeat -32px 0;
                    display: none;
                    cursor: pointer;
                }
        }
    }
}


//  floor

#floor_box{
    width: 1210px;
    margin: 0 auto;
    .floor_adv{
        margin-top: 30px;
        overflow: hidden;
        ul{
            li{
                width: 403px;
                height: 110px;
                float: left;
                overflow: hidden;
            }
        }
    }
    
    //  floor1
    
    .floor1{
        margin-top: 14px;
        overflow: hidden;
        .floor_left{
            width: 242px;
            float: left;
            span{
                display: block;
                height: 38px;
                line-height: 38px;
                padding-left: 15px;
                font-size: 20px;
                font-weight: normal;
                color: #88A9E2;
                position: relative;
                i{
                    display: block;
                    width: 5px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 8px;
                    font-size: 1px;
                    background: #88A9E2;
                }
            }
            .con{
                background: #a1c0f6;
                position: relative;
                padding-top: 50px;
                .png{
                    display: block;
                    width: 56px;
                    height: 20px;
                    line-height: 20px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 10px 0 34px 8px;
                    background: url(../img/floor_icon.png) no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                }
                .clearfix{
                    width: 200px;
                    height: 110px;
                    padding-top: 9px;
                    margin-left: 21px;
                    background: url(../img/bd.png) no-repeat;
                    li{
                        width: 75px;
                        height: 36px;
                        line-height: 36px;
                        float: left;
                        padding-left: 25px;
                        font-size: 14px;
                        position: relative;
                        overflow: hidden;
                        i{
                            display: block;
                            width: 22px;
                            height: 22px;
                            background: url(../img/icon_1.png) no-repeat;
                            position: absolute;
                            left: 0;
                            top: 7px;
                        }
                        a{
                                color: #5e7090;
                            &:hover{
                                color: #333333;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .pic{
                    position: relative;
                    .aImg{
                        width: 242px;
                        height: 400px;
                        position: absolute;
                        left: -242px;
                    }
                    a{
                        img{
                            width: 242px;
                            height: 335px;
                        }
                    }
                }
            }
        }
        .floor_right{
            width: 968px;
            float: left;
            .tit{
                height: 36px;
                line-height: 36px;
                margin: 0 0 2px 30px;
                color: #434343;
                font-size: 16px;
                li{
                    height: 36px;
                    margin-right: 30px;
                    padding:  0 5px;
                    text-align: center;
                    overflow: hidden;
                    float: left;
                }
                .cur{
                    border-bottom: 2px solid #a1c0f6;
                    color: #434343;
                }
            }
            .fr_con1{
                width: 968px;
                border-top: 1px solid #a1c0f6;
                position: relative;
                .adv{
                    width: 482px;
                    height: 250px;
                    border-right: 1px solid #ededed;
                    border-bottom: 1px solid #ededed;
                    position: absolute;
                    left: 242px;
                    top: 0;
                    overflow: hidden;
                    .floor1_anniu{
                        width: 100%;
                        height: 62px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -31px;
                        z-index: 5;
                        display: none;
                        span{
                            display: block;
                            width: 28px;
                            height: 62px;
                            line-height: 62px;
                            color: #fff;
                            text-align: center;
                            font-size: 22px;
                            font-family: simsun;
                            font-weight: 400;
                            background: url(../img/btn.png) no-repeat;
                            cursor: pointer;
                        }
                        .anniu1{
                            float: left;
                        }
                        .anniu2{
                            float: right;
                        }
                    }
                    .floor_pic{
                        width: 1446px;
                        height: 250px;
                        position: absolute;
                        left: 0;
                        li{
                            float: left;
                        }
                    }
                    .floor_hover{
                        width: 67px;
                        height: 15px;
                        position: absolute;
                        left: 50%;
                        top: 220px;
                        margin-left: -35px;
                        li{
                            width: 15px;
                            height: 15px;
                            border-radius: 15px;
                            background: #fff;
                            margin-left: 17px;
                            background: #eeeeee;
                            float: left;
                        }
                        .hover{
                            background: #3ea600;
                        }
                    }
                }
                .floor_list{
                    li{
                        width: 241px;
                        height: 250px;
                        border-bottom: 1px solid #ededed;
                        border-right: 1px solid #ededed;
                        overflow: hidden;
                        float: left;
                        dl{
                            dt{
                                width: 240px;
                                height: 190px;
                                text-align: center;
                                a{
                                    img{
                                        width: 180px;
                                        height: 180px;
                                        margin: 6px auto 0;
                                        position: relative;
                                        transition: all 1s;
                                        &:hover{
                                            transform: translateX(10px);
                                        }
                                    }
                                }
                            }
                            .name{
                                width: 200px;
                                height: 24px;
                                line-height: 24px;
                                font-size: 14px;
                                color: #383838;
                                margin-left: 20px;
                                overflow: hidden;
                                a{
                                    &:hover{
                                        text-decoration: underline;
                                        color: #4bae00;
                                    }
                                }
                            }
                            .price{
                                width: 200px;
                                height: 26px;
                                line-height: 26px;
                                font-size: 14px;
                                color: #dd0800;
                                margin-left: 20px;
                                overflow: hidden;
                                span{
                                    .bold{
                                        font-size: 20px;
                                        color: #dd0800;
                                    }
                                }
                            }
                        }
                    }
                    .first{
                        margin-right: 484px;
                    }
                }
            }
            .fr_con2{
                width: 968px;
                border-top: 1px solid #a1c0f6;
                position: relative;
                display: none;
                .floor_end{
                    li{
                        width: 241px;
                        height: 250px;
                        border-bottom: 1px solid #ededed;
                        border-right: 1px solid #ededed;
                        overflow: hidden;
                        float: left;
                        dl{
                            dt{
                                width: 240px;
                                height: 190px;
                                text-align: center;
                                a{
                                    img{
                                        width: 180px;
                                        height: 180px;
                                        margin: 6px auto 0;
                                        position: relative;
                                        transition: all 1s;
                                        &:hover{
                                            transform: translateX(10px);
                                        }
                                    }
                                }
                            }
                            .name{
                                width: 200px;
                                height: 24px;
                                line-height: 24px;
                                font-size: 14px;
                                color: #383838;
                                margin-left: 20px;
                                overflow: hidden;
                                a{
                                    &:hover{
                                        text-decoration: underline;
                                        color: #4bae00;
                                    }
                                }
                            }
                            .price{
                                width: 200px;
                                height: 26px;
                                line-height: 26px;
                                font-size: 14px;
                                color: #dd0800;
                                margin-left: 20px;
                                overflow: hidden;
                                span{
                                    .bold{
                                        font-size: 20px;
                                        color: #dd0800;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .floor2{
        width: 1210px;
        height: 500px;
        line-height: 500px;
        text-align: center;
        background: aliceblue;
        color: #333333;
    }
}



// stairs

#stairs{
    width: 70px;
    position: fixed;
    left: 50px;
    top: 200px;
    z-index: 1000;
    background: antiquewhite;
    display: none;
    ul{
        li{
            width: 70px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-bottom: 1px solid #333333;
            cursor: pointer;
            &:hover{
                color: #fff;
                background: green;
            }
        }
    }
}



































// footer



#footer{
    margin-top: 45px;
    padding-top: 45px;
    border-top: 2px solid #e7e7e7;
    background: #f7f7f7;
    overflow: hidden;
    .helper{
        width: 1210px;
        margin: 0 auto;
        overflow: hidden;
        .helper_wrap{
            margin-left: 70px;
            float: left;
            overflow: hidden;
            .footer_lists{
                width: 144px;
                float: left;
                margin-right: 70px;
                position: relative;
                ::after{
                    width: 1px;
                    height: 78px;
                    content: "";
                    background: #e9e9e9;
                    position: absolute;
                    top: 12px;
                    right: 0;
                }
                h3{
                    height: 26px;
                    line-height: 26px;
                    font-size: 16px;
                    color: #6f6f6f;
                    margin-bottom: 5px;
                }
                .cont{
                    height: 130px;
                    .cont_list{
                        height: 24px;
                        line-height: 24px;
                        color: #9c9c9c;
                        overflow: hidden;
                        a{
                            display: block;
                            font-size: 12px;
                            color: #989898;
                            &:hover{
                                color: #3ea600;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .erwma{
            width: 284px;
            float: left;
            .sm{
                width: 86px;
                height: 122px;
                margin-right: 45px;
                float: left;
                position: relative;
                dt{
                    width: 130px;
                    height: 18px;
                    color: #c60001;
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 18px;
                    overflow: hidden;
                    position: absolute;
                    left: -22px;
                    top: 0;
                }
                dd{
                    position: relative;
                    top: 36px;
                    img{
                        display: block;
                        width: 86px;
                        height: 86px;
                    }
                }
            }
        }
    }
    .about_wrap{
        border-top: 2px solid #3ea600;
        margin-top: 45px;
        background: #fff;
        padding: 25px 0 30px 0;
        .about{
            width: 1210px;
            margin: 0 auto;
            overflow: hidden;
            .links{
                height: 22px;
                line-height: 22px;
                color: #989898;
                overflow: hidden;
                text-align: center;
                a{
                    font-size: 14px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                span{
                    padding: 18px;
                }
            }
            .footer_content{
                width: 790px;
                margin: 28px auto 0;
                overflow: hidden;
                .pic{
                    float: left;
                    img{
                        display: block;
                        width: 200px;
                        height: 50px;
                        margin-right: 20px;
                    }
                }
                .dz{
                    float: left;
                    font-size: 12px;
                    div{
                        height: 22px;
                        line-height: 22px;
                        color: #989898;
                        overflow: hidden;
                    }
                    .beian{
                        a{
                            color: #989898;
                            i{
                                display: block;
                                width: 20px;
                                height: 20px;
                                float: left;
                                background: url(../img/bottomicon.png) -114px -0px no-repeat;
                            }
                        }
                        p{
                            float: left;
                        }
                    }
                }
            }
            .footer_b{
                width: 1210px;
                margin: 0 auto;
                text-align: center;
                a{
                    display: inline-block;
                    i{
                        display: block;
                        width: 112px;
                        height: 41px;
                        background: url(../img/bottomicon.png) no-repeat;
                    }
                }
            }
        }
    }
}
